.page {
  --header-background: #666666;
  --header-foreground: #fff;
  --border-color: #888;
  --selected-color: #ededed;
  --header-input-color: #ffffff;
  --header-input-handle-color: #c2c2c2;
  

  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);

  height: 100vh;
}

.header {
  height: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-background);
  color: var(--header-foreground);

  
  & > * {
    margin: 0 20px;
  }

  .searchLabel {
    display: block;
    margin-bottom: 5px;
  }

  .searchYear {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .searchYearRange {
    position: relative;
    display: flex;
    align-items: center;
    width: 190px;
    height: 25px;
    
    & > input[type=range] {
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      
      appearance: none;
      background: none;

      &::-webkit-slider-runnable-track {
        height: 7px;
      }

      &:first-child::-webkit-slider-runnable-track {
        background-color: var(--header-input-color);
        border-radius: 5px;
      }
      
      &::-webkit-slider-thumb {
        appearance: none;
        pointer-events: all;
        width:15px;
        height:15px;
        border-radius: 50%;
        top: 5px;
        background-color: var(--header-input-handle-color);
        cursor: pointer;
        margin-top: -4px;
      }

      &::-moz-range-thumb {
        appearance: none;
        pointer-events: all;
        width:15px;
        height:15px;
        border-radius: 50%;
        background-color: var(--border-color);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .searchRadio {
    & > input[type=radio] {
      margin-right: 10px;
    }

    & > label {
      margin-right: 15px;
    }
  }
}

.headerSearch {
  flex-grow: 1;
  & > * {
    vertical-align: baseline;
  }

  & > input {
    font-size: 25px;
    margin-left: 13px;
    color: #fff;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mediaList {
  width: 33%;
  border-right: solid var(--border-color) 1px;
  overflow-y: auto;

  .mediaListItem {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: solid var(--border-color) 1px;
    cursor: pointer;

    &:hover, &.selected {
      background-color: var(--selected-color);
    }

    .mediaListItemPoster {
      max-height: 50px;
    }
  }
}

.mediaDisplay {
  width: 67%;
  padding: 30px;


  .meta {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .metaItems {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    & > *:not(:first-child) {
      margin-top: 12px;
    }
  }

  .metaWatchlist {
    flex-grow: 1;
    text-align: right;
  }

  .mediaRatings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .mediaRating {
      &:not(:first-child) {
        border-left: 1px solid var(--border-color);
      }
      text-align: center;
      flex-grow: 1;
    }
  }

  .poster {
    max-width: 33%;
    max-height: 350px;
    width: auto;
  }

  .rated {
    border: 1px #fff solid;
    padding: 2px 4px;
    border-radius: 6px;
    margin-right: 5px;
  }

  & > *:not(:first-child) {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
