.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.header {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  & > * {
    margin: 0 20px;
  }
}

.headerStretch {
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.mediaList {
  width: 33%;
}

.mediaDisplay {
  width: 67%;
}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
